#closebtn {
    -fx-font-size: 16px;
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#closebtn:hover {
    -fx-text-fill: darkred;
    -fx-cursor: hand;
}
#ValidateButton:hover {
    -fx-text-fill: darkgreen;
    -fx-cursor: hand;
}
#CancelButton:hover {
    -fx-text-fill: darkred;
    -fx-cursor: hand;
}
#genreComboBox:hover {
    -fx-cursor: hand;
}
#pratiqueComboBox:hover {
    -fx-cursor: hand;
}
#categorieComboBox:hover {
    -fx-cursor: hand;
}
#lateraliteComboBox:hover {
    -fx-cursor: hand;
}


#btnadd, #btnexp, #btnexpt {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}


#btnadd:hover, #btnexp:hover, #btnexpt:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
}

