#closebtn {
    -fx-font-size: 16px;
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#closebtn:hover {
    -fx-text-fill: darkred;
    -fx-cursor: hand;
}

#ValidateButton:hover {
    -fx-text-fill: darkgreen;
    -fx-cursor: hand;
}

#CancelButton:hover {
    -fx-text-fill: darkred;
    -fx-cursor: hand;
}

#genreComboBox:hover {
    -fx-cursor: hand;
}

#pratiqueComboBox:hover {
    -fx-cursor: hand;
}

#categorieComboBox:hover {
    -fx-cursor: hand;
}

#lateraliteComboBox:hover {
    -fx-cursor: hand;
}


#btnadd, #btnexp, #btnexpt {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}


#btnadd:hover, #btnexp:hover, #btnexpt:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
}

#adherenttable {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-color: #7BD6E4;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

#editbutton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-border-color: #45A049;
    -fx-border-width: 1px;
}

#editbutton:hover {
    -fx-background-color: #45A049;
    -fx-cursor: hand;
}

#delbutton {
    -fx-background-color: #FF5733;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-border-color: #E64D32;
    -fx-border-width: 1px;
}

#delbutton:hover {
    -fx-background-color: #E64D32;
    -fx-cursor: hand;
}

#armefleurer:hover {
    -fx-cursor: hand;
}

#armeepee:hover {
    -fx-cursor: hand;
}

#armesabre:hover {
    -fx-cursor: hand;
}






